{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/stylesheets/cart_styles.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/cart_responsive.css">
{{/section}}

{{#section 'js'}}
<script src="/javascript/js/cart_custom.js"></script>
{{/section}}
<!-- Cart -->

<div class="cart_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="cart_container">
					<div class="cart_title">{{title}}</div>
					{{#if isEmpty}}
					<h3>Bạn chưa có sản phẩm nào trong danh sách này!</h3>
					{{else}}
					{{#each products}}
					<div class="cart_items">
						<ul class="cart_list">

							<li class="cart_item clearfix">
								<div class="cart_item_image"><img
										style="max-height: 100%; position: absolute; top: 50%;-ms-transform: translateY(-50%); transform: translateY(-50%);"
										src="/uploads/{{img_filename}}" alt=""></div>
								<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
									<div class="cart_item_name cart_info_col">
										<div class="cart_item_title">Tên sản phẩm</div>
										<div class="cart_item_text">
											<a href="../../product/{{_id}}">
												<div class="resize" style="width: 300px; height: 70px">{{name}}</div>
											</a>
										</div>

									</div>
									<div class="cart_item_color cart_info_col">
										<div class="cart_item_title text-center" style="width: 170px">Thời gian còn lại
										</div>
										{{!-- <div class="cart_item_text"><span
												style="background-color:#999999;"></span>Silver</div> --}}
										<div class="deals_timer_box_item clearfix px-0" data-target-time="{{exp_date}}"
											style="width: 100%;margin-top: 15px">
											<div class="deals_timer_unit_item">
												<div id="deals_timer1_hr" class="deals_timer_day"></div>
												<span>days</span>
											</div>
											<div class="deals_timer_unit_item">
												<div id="deals_timer1_hr" class="deals_timer_hr"></div>
												<span>hours</span>
											</div>
											<div class="deals_timer_unit_item">
												<div id="deals_timer1_min" class="deals_timer_min"></div>
												<span>mins</span>
											</div>
											<div class="deals_timer_unit_item">
												<div id="deals_timer1_sec" class="deals_timer_sec"></div>
												<span>secs</span>
											</div>
										</div>
									</div>
									<div class="cart_item_quantity cart_info_col text-center">
										<div class="cart_item_title">Tên người giữ giá</div>
										{{#if winner_id}}
										{{#if user_is_winner}}
										<div class="cart_item_text text-success">{{winner_name}}</div>
										{{else}}
										<div class="cart_item_text text-danger">{{winner_name}}</div>
										{{/if}}
										{{else}}
										<div class="cart_item_text text-danger">Chưa có</div>
										{{/if}}

									</div>
									<div class="cart_item_price cart_info_col">
										<div class="cart_item_title">Giá hiện tại</div>
										<div class="cart_item_text price">{{cur_price}}</div>
									</div>

								</div>

							</li>

						</ul>
					</div>

					{{/each}}
					<!-- Order Total -->
					<div class="order_total">
						<div class="order_total_content text-md-right">
							<div class="order_total_title">Tổng cộng:</div>
							<div class="order_total_amount price">{{sum_price}}</div>
						</div>
					</div>

					<div class="cart_buttons d-flex justify-content-between">

						<button type="button" onclick="location.href='/'" class="button left cart_button_checkout">Tiếp
							tục đấu giá</button>
						<button type="submit" onclick="location.href='/account/cart/{{this._id}}'"
							class="button cart_button_checkout">Payment Now</button>

					</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Newsletter -->

<div class="newsletter">
	<div class="container">
		<div class="row">
			<div class="col">
				<div
					class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
					<div class="newsletter_title_container">
						<div class="newsletter_icon"><img src="/images/send.png" alt=""></div>
						<div class="newsletter_title">Sign up for Newsletter</div>
						<div class="newsletter_text">
							<p>...and receive %20 coupon for first shopping.</p>
						</div>
					</div>
					<div class="newsletter_content clearfix">
						<form action="#" class="newsletter_form">
							<input type="email" class="newsletter_input" required="required"
								placeholder="Enter your email address">
							<button class="newsletter_button">Subscribe</button>
						</form>
						<div class="newsletter_unsubscribe_link"><a href="#">unsubscribe</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>