{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
	type="text/css">
<link rel="stylesheet" type="text/css" href="/stylesheets/product_styles.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/product_responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/image_slide.css">

{{/section}}

{{#section 'js'}}
<script src="/javascript/js/product_custom.js"></script>

<script src="/javascript/plugins/jssor.slider/jssor.slider-28.0.0.min.js"></script>

<script src="/javascript/js/image-slide.js"></script>
{{/section}}

<!-- Single Product -->

<div class="single_product">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="fav mb-1" data-id="{{product._id}}"><i class="fas fa-heart"></i>
				</div>
				<div id="jssor_1"
					style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:700px;overflow:hidden;visibility:hidden;">
					<!-- Loading Screen -->
					<div data-u="loading" class="jssorl-009-spin"
						style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
						<img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"
							src="/img/spin.svg" />
					</div>
					<div data-u="slides"
						style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:600px;overflow:hidden;">
						{{#each product.img}}
						<div>
							<img data-u="image" class="img" src="/uploads/{{filename}}" />
							<img data-u="thumb" src="/uploads/{{filename}}" />
						</div>
						{{/each}}

					</div>
					<!-- Thumbnail Navigator -->
					<div data-u="thumbnavigator" class="jssort101"
						style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:rgb(158, 158, 158);"
						data-autocenter="1" data-scale-bottom="0.75">
						<div data-u="slides">
							<div data-u="prototype" class="p" style="width:190px;height:90px;">
								<div data-u="thumbnailtemplate" class="t"></div>
								<svg viewbox="0 0 16000 16000" class="cv">
									<circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
									<line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
									<line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
								</svg>
							</div>
						</div>
					</div>
					<!-- Arrow Navigator -->
					<div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:162px;left:30px;"
						data-scale="0.75">
						<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
							<circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
							<polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
							<line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
						</svg>
					</div>
					<div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:162px;right:30px;"
						data-scale="0.75">
						<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
							<circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
							<polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
							<line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
						</svg>
					</div>
				</div>
			</div>
			{{!-- <!-- Images -->
			<div class="col-lg-2 order-lg-1 order-2">
				<ul class="image_list">
					<li data-image="/images/single_4.jpg"><img src="/images/single_4.jpg" alt=""></li>
					<li data-image="/images/single_2.jpg"><img src="/images/single_2.jpg" alt=""></li>
					<li data-image="/images/single_3.jpg"><img src="/images/single_3.jpg" alt=""></li>
				</ul>
			</div>

			<!-- Selected Image -->
			<div class="col-lg-5 order-lg-2 order-1">
				<div class="image_selected"><img src="/images/single_4.jpg" alt=""></div>
			</div> --}}

			<!-- Description -->
			<div class="col-lg-5 order-3">
				<div class="product_description">
					<div class="product_category">{{product.childcat_name}}</div>
					<div class="product_name">{{product.name}}</div>
					{{!-- <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div> --}}
					<div class="text-secondary font-weight-bold h5 pt-3 mb-4">Giá hiện tại: <div
							class="price text-primary font-weight-bold h3">
							{{product.cur_price}}</div>
					</div>
					{{#if is_bidded}}
					<div class="text-secondary font-weight-bold h5 mb-0">Người giữ giá: <div
							class="price text-primary font-weight-bold h3 mb-0">
							{{winner.full_name}}</div>
					</div>
					{{#if winner.isNew}}
					<h4 class="text-danger">Người mua chưa từng được đánh giá</h4>
					{{else}}
					{{!-- <i class="fas fa-star"></i><i class="fas fa-star"></i><i
						class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star mr-4"></i> --}}
					<a href="/account/evaluate/{{winner._id}}">
						<h4 style="color: orange" class="mb-4">Điểm đánh giá: {{winner.point}}%
							trong {{winner.rate_point.sum}}
							bài đánh giá</h4>
					</a>

					{{/if}}
					{{/if}}
					{{!-- <div class="product_text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum. laoreet turpis,
							nec sollicitudin dolor cursus at. Maecenas aliquet, dolor a faucibus efficitur, nisi tellus
							cursus urna, eget dictum lacus turpis.</p>
					</div> --}}
					<div class="text-secondary font-weight-bold h6 mt-5" style="display: inline">Ngày đăng: <div
							class="text-success font-weight-bold h5" style="display: inline">
							{{product.submit_date_convert}}</div>
					</div>
					<p class="text-danger h5">Còn lại: </p>
					<div class="deals_timer_content">
						<div class="deals_timer_box clearfix" data-target-time="{{product.exp_date}}">
							<div class="deals_timer_unit">
								<div id="deals_timer1_hr" class="deals_timer_day"></div>
								<span>days</span>
							</div>
							<div class="deals_timer_unit">
								<div id="deals_timer1_hr" class="deals_timer_hr"></div>
								<span>hours</span>
							</div>
							<div class="deals_timer_unit">
								<div id="deals_timer1_min" class="deals_timer_min"></div>
								<span>mins</span>
							</div>
							<div class="deals_timer_unit">
								<div id="deals_timer1_sec" class="deals_timer_sec"></div>
								<span>secs</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row my-5">
			{{#if product.isEnd}}
			<h3 class="text-danger m-auto">Sản phẩm đã kết thúc phiên đấu giá!!</h3>
			{{else}}
			{{#if logged}}
			{{#if is_seller}}
			{{else}}
			{{#if is_accepted}}
			{{#if is_winner}}
			<div class="col-lg-6">
				<h3 class="text-success m-auto">Bạn đang giữ giá sản phẩm này!</h3>
			</div>
			{{#if product.purchase_price}}
			<div class="col-lg-6">
				<div class="row">
					<div class="product_price text-danger" style="margin: 0 auto">
						<h4 class="d-inline-block">Giá mua ngay: &nbsp;</h4>
						<h2 class="d-inline-block price">{{product.purchase_price}}</h2>
					</div>
				</div>
				<div class="row">
					<div class="button_container mt-3" style="margin: 0 auto">
						<button onclick="location.href='/account/cart'" type="button" class="button cart_button">Mua
							ngay</button>
						<div class="product_fav"><i class="fas fa-heart"></i></div>
					</div>
				</div>
			</div>
			{{/if}}

			{{else}}
			<div class="col-lg-6">
				<form action="/product/{{product._id}}/bid" method="post" onsubmit="return notification()">
					<div class="row d-flex">
						<!-- Product Quantity -->
						<div class="product_quantity" style="margin: 0 auto">
							<span>Mức giá: </span>
							<input id="quantity_input" type="number" pattern="[0-1000000000]*" value="{{suggest_price}}"
								min="{{product.cur_price}}" step="{{product.step_price}}" name="max_price">
							{{!-- <div class="quantity_buttons">
														<div id="quantity_inc_button" class="quantity_inc quantity_control"><i
																class="fas fa-chevron-up"></i></div>
														<div id="quantity_dec_button" class="quantity_dec quantity_control"><i
																class="fas fa-chevron-down"></i></div>
													</div> --}}
						</div>
					</div>
					<div class="row mt-3">
						<button type="submit" class="btn btn-primary bid_now font-weight-bold pt-2"
							style="height: 50px; width: 325px;margin: 0 auto">
							<h3><i class="fas fa-gavel pr-3"></i>Ra giá ngay</h3>
						</button>
					</div>
				</form>
			</div>
			{{#if product.purchase_price}}
			<div class="col-lg-6">
				<div class="row">
					<div class="product_price text-danger" style="margin: 0 auto">
						<h4 class="d-inline-block">Giá mua ngay: &nbsp;</h4>
						<h2 class="d-inline-block price">{{product.purchase_price}}</h2>
					</div>
				</div>
				<div class="row">
					<div class="button_container mt-3" style="margin: 0 auto">
						<button onclick="location.href='/account/cart'" type="button" class="button cart_button">Mua
							ngay</button>
						<div class="product_fav"><i class="fas fa-heart"></i></div>
					</div>
				</div>
			</div>
			{{/if}}
			{{/if}}
			{{else}}
			<h3 class="text-danger m-auto">Bạn không được đấu giá sản phẩm này!!</h3>
			{{/if}}
			{{/if}}
			{{else}}
			<h3 class="text-danger m-auto">Phải đăng nhập để đấu giá sản phẩm!</h3>
			{{/if}}
			{{/if}}
		</div>
	</div>

	<!-- Bid info -->
	<div class="container">
		<div class="main_nav">
			<ul class="nav nav-pills mb-3 nav-justified mx-5" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="flex-sm-fill text-sm-center nav-link active p-3" style="font-size: 20px"
						id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
						aria-selected="true">Mô
						tả chi tiết</a>
				</li>
				{{#if logged}}
				<li class="nav-item">
					<a class="flex-sm-fill text-sm-center nav-link p-3" style="font-size: 20px" id="pills-profile-tab"
						data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
						aria-selected="false">Lịch sử đấu giá</a>
				</li>
				{{/if}}
				<li class="nav-item">
					<a class="flex-sm-fill text-sm-center nav-link p-3" style="font-size: 20px" id="pills-contact-tab"
						data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
						aria-selected="false">Thông tin người bán</a>
				</li>
			</ul>
		</div>
		<div class="tab-content" id="pills-tabContent">

			<!-- Tab item -->

			<div class="tab-pane fade show active mx-5 mb-5" id="pills-home" role="tabpanel"
				aria-labelledby="pills-home-tab">
				{{{product.product_info}}}
				{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				ex ea commodo consequat. Duis
				aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
				laborum.</p>
			<p><i class="fas fa-pencil-alt"></i> 24/11/2019</p>
			<p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua.</p> --}}
			</div>

			<!-- Tab item -->
			<div class="tab-pane fade mx-5 mb-5" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
				{{#if is_bidded}}
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Thời điểm</th>
							<th scope="col">Người mua</th>
							<th scope="col">Giá</th>
						</tr>
					</thead>
					<tbody>
						{{#each bidList}}
						<tr>
							<th scope="row" class="index">{{@index}}</th>
							<td>{{bid_time_convert}}</td>
							<td>****{{user_name}}</td>
							<td class="price">{{price}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>

				{{else}}
				<h4 class="text-danger mx-auto">Sản phẩm này chưa được đấu giá. Bạn hãy là ngườI đầu tiên đấu giá sản
					phẩm!
				</h4>
				{{/if}}
			</div>

			<!-- Tab item -->

			<div class="tab-pane fade mx-5 mb-5" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
				<p><i class="fas fa-shopping-cart mr-4"></i>Tên người bán: <span
						style="color: #007bff; font-size: 20px"><strong>{{seller.full_name}}</strong></span></p>
				<p><i class="fas fa-map-marker mr-4"></i>Địa chỉ: <span
						style="color: #007bff; font-size: 20px"><strong>{{seller.info.addr}}</strong></span></p>
				{{#if seller.isNew}}
				<h4 class="text-danger">Người bán chưa từng được đánh giá</h4>
				{{else}}
				{{!-- <i class="fas fa-star"></i><i class="fas fa-star"></i><i
						class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star mr-4"></i> --}}
				<a href="/account/evaluate/{{seller._id}}">
					<h4 style="color: orange">Điểm đánh giá: {{seller.point}}%
						trong {{seller.rate_point.sum}}
						bài đánh giá</h4>
				</a>
				{{/if}}

			</div>
		</div>
	</div>


	<!-- Recently Viewed -->

	<div class="viewed">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="viewed_title_container">
						<h3 class="viewed_title">Sản phẩm liên quan</i></h3>
						<div class="viewed_nav_container">
							<div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
						</div>
					</div>

					<div class="viewed_slider_container">

						<!-- Recently Viewed Slider -->

						<div class="owl-carousel owl-theme viewed_slider">

							{{#each relate_pros}}
							<div class="owl-item">
								<div
									class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
									<div class="viewed_image"><img src="/uploads/{{imgFileName}}" alt=""></div>
									<div class="viewed_content text-center">
										<div class="viewed_price price">{{cur_price}}</div>
										<div class="viewed_name"><a href="/product/{{_id}}">{{name}}</a></div>
										<div class="deals_timer_box_item clearfix" data-target-time="{{exp_date}}"
											style="width: 100%">
											<div class="deals_timer_unit_item">
												<div id="deals_timer1_hr" class="deals_timer_day">1</div>
												<span>days</span>
											</div>
											<div class="deals_timer_unit_item">
												<div id="deals_timer1_hr" class="deals_timer_hr">47</div>
												<span>hours</span>
											</div>
											<div class="deals_timer_unit_item">
												<div id="deals_timer1_min" class="deals_timer_min">59</div>
												<span>mins</span>
											</div>
											<div class="deals_timer_unit_item">
												<div id="deals_timer1_sec" class="deals_timer_sec">36</div>
												<span>secs</span>
											</div>
										</div>
									</div>
									<ul class="item_marks">
										<li class="item_mark item_discount">-25%</li>
										<li class="item_mark item_new">new</li>
									</ul>
								</div>
							</div>
							{{/each}}
							<!-- Recently Viewed Item -->


						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Brands -->

	<div class="brands">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="brands_slider_container">

						<!-- Brands Slider -->

						<div class="owl-carousel owl-theme brands_slider">

							<div class="owl-item">
								<div class="brands_item d-flex flex-column justify-content-center"><img
										src="/images/brands_1.jpg" alt=""></div>
							</div>
							<div class="owl-item">
								<div class="brands_item d-flex flex-column justify-content-center"><img
										src="/images/brands_2.jpg" alt=""></div>
							</div>
							<div class="owl-item">
								<div class="brands_item d-flex flex-column justify-content-center"><img
										src="/images/brands_3.jpg" alt=""></div>
							</div>
							<div class="owl-item">
								<div class="brands_item d-flex flex-column justify-content-center"><img
										src="/images/brands_4.jpg" alt=""></div>
							</div>
							<div class="owl-item">
								<div class="brands_item d-flex flex-column justify-content-center"><img
										src="/images/brands_5.jpg" alt=""></div>
							</div>
							<div class="owl-item">
								<div class="brands_item d-flex flex-column justify-content-center"><img
										src="/images/brands_6.jpg" alt=""></div>
							</div>
							<div class="owl-item">
								<div class="brands_item d-flex flex-column justify-content-center"><img
										src="/images/brands_7.jpg" alt=""></div>
							</div>
							<div class="owl-item">
								<div class="brands_item d-flex flex-column justify-content-center"><img
										src="/images/brands_8.jpg" alt=""></div>
							</div>

						</div>

						<!-- Brands Slider Navigation -->
						<div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
						<div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div
						class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
						<div class="newsletter_title_container">
							<div class="newsletter_icon"><img src="/images/send.png" alt=""></div>
							<div class="newsletter_title">Sign up for Newsletter</div>
							<div class="newsletter_text">
								<p>...and receive %20 coupon for first shopping.</p>
							</div>
						</div>
						<div class="newsletter_content clearfix">
							<form action="#" class="newsletter_form">
								<input type="email" class="newsletter_input" required="required"
									placeholder="Enter your email address">
								<button class="newsletter_button">Subscribe</button>
							</form>
							<div class="newsletter_unsubscribe_link"><a href="#">unsubscribe</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>